{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    {{ form.hidden_tag() }}
    <div>
      <label for="username">User Name</label>
      {{ form.username(size=32) }}
    </div>
    <div>
      <label for="password">Password</label>
      {{ form.password(size=32) }}
    </div>
    {% if form.errors %}
      <ul>
        {% for field_errors in form.errors.values() %}
          {% for error in field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
    <input type="submit" value="Log In">
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
