{% extends 'base.html' %} {% block title %}Transaction - My Bank App{% endblock
%} {% block content %}
<h1>Welcome back, {{account.username}}</h1>
<div class="transaction-buttons">
  <button onclick="location.href='{{ url_for('transaction.show') }}'">
    Show Balance
  </button>
  <button onclick="location.href='{{ url_for('transaction.withdraw') }}'">
    Withdraw
  </button>
  <button onclick="location.href='{{ url_for('transaction.deposit') }}'">
    Deposit
  </button>
</div>
{% block detail %}{% endblock %} {% endblock %}
